* {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
  color: white;
  text-decoration: none;
  transition: 0.3s;
  font-family: "Roboto", sans-serif;
}
section {
  background-color: #2b2d42;

  /* width: 100vw; */
  /* border: 1px solid white; */
}
.dark section{
  background-color: black;
}

.sub-section {
  /* width: 100vw; */
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.sub-section-alternative{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 80px;
}


.hero {
  background-color: #14213d;
  height: 100vh;
  border: none;
}
footer {
  background-color: black;
  height: 300px;
  color: white;
  padding: 80px;
  text-align: center;
}

footer h2{
  color:white;
}

h1 {
  font-size: 4em;
}

p{
  font-size: 3em;
}
nav {
  font-size: 1em;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  /* margin: 0 1em; */
  padding-right: 20px;
}

#logo.shoLogo {
  display: none;
}

ul {
  font-size: 2.5em;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

ul.show {
  display: block;
}

li a {
  text-decoration: none;
  padding: 20px;
  font-size: 1em;
}

.hero-area {
  margin-top: 7em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hamburger {
  display: none;
}
.hamburger:focus {
  outline: 0;
}

/* switch */
.switch{
  width: 80px;
  height: 40px;
  border-radius: 40px;
  background-color: black;
  box-shadow: 1px 2px 5px grey;
  position: relative;
}
.flicker{
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: white;
  position: absolute;
  top: 5px;
  left: 5px;
  box-shadow: inset 4px 4px 4px rgb(245, 243, 243),
              inset -4px -4px 4px rgb(136, 133, 133);
  transition: 300ms;
}
.moon{
  width: 20px;
  height: 20px;
  border-radius: 15px;
  position: relative;
  top: 10px;
  left: 48px;
  box-shadow: 4px 4px 0 0 rgb(255, 255, 255);

}
.dark{
  background-color: black;
}

.dark .flicker{
  transform: translateX(40px);
  
}


.hero-text {
  margin-left: 2em;
}
.hero-text h1 {
  font-size: 8em;
}
.information p {
  font-size: 2.5em;
}

.socials {
  margin-right: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.social-div{
  padding:10px;
}
.social {
  padding: 1.5em;
  width: 2em;
  transition: all 200ms ease-in-out;
}

.social svg:hover {
  fill: yellow;
  transform: translateY(-0.5em);
}



.information p {
  font-size: 2.5em;
  color:black;
  padding-top: 10px;
}
h2 {
  font-size: 4em;
  color:black;
}
.sub-container {
  display: flex;
  justify-content: space-around;
  padding: 80px 170px;
}
.headshot {
  width: 300px;
  border-radius: 150px;
}

/* projects */

.project-card{
  width: 270px;
  height: 520px;
  box-shadow: 5px 5px 20px rgb(187, 186, 186);
}

.project-card h3{
  font-size: 1.5em;
}

.sub-section-alternative h2{
  padding-bottom: 20px;
}
.project-container{
  display: flex;
  justify-content: space-around;
  
}
.project-image{
  width: 222px;
  height: 320px;
  border-radius: 50%;
  padding: 15px;
}
.sub-section-alternative h3, .subtext{
  color:black;
}
.subtext{
  font-size: 1.2em;
  font-weight: 300;
  padding: 10px;
}

.project-link{
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.footer-socials{
  display: none;
}

/* media screen */
@media screen and (max-width: 700px) {
 
  nav {
    justify-content: space-between;
  }

  .hero-area {
    align-items: center;
    justify-content: center;
    margin-top: 9em;
  }

  .hero-text {
    margin-left: 0;
  }
  .socials {
    display: none;
  }

  .hamburger {
    display: block;
    border: 0;
    background-color: transparent;
    color: white;
    font-size: 3em;
    align-self: flex-end;
  }
  nav {
    display: flex;
    flex-direction:row;
    background-color: #22223b;
  }
  ul {
    /* align-items: flex-end; */
    display: none;
    background-color: #22223b;
    margin: 0;
    padding: 15px 10px;
    position: absolute;
    top: 65px;
    width: 95.2%;
  }
  .logo {
    display: none;
  }
  .switch{
    top: 11px;  
  }
}

  

/* for mobile devices */
@media (min-width: 320px) and (max-width: 480px) {
  nav {
    /* position: fixed; */
    top: 0;
    right: 0;
    display: flex;
    background-color: #22223b;
    width: 100%;
    padding: 0;
  }



  .hamburger {
    display: block;
    /* position: fixed; */
    /* top: 11px; */
    border: 0;
    background-color: transparent;
    color: white;
    font-size: 3em;
    /* padding-left: 1em; */
    margin: 5px;
    align-self: flex-end;
  }

  /* menu */
  .menu-line{

  }

  .hero-text {
    margin-top: 0;
    margin-left: 0;
  }

  .hero-area{
    margin: 0;
    margin-top: 5em;
    margin-left: 1em;
  }
  .hero-text h1{
    font-size: 5em;
  }
  .hero-text p{
    font-size: 2.5em;
  }

  footer {
    height: 200px;
    padding: 80px 0px;
  } 

  footer h2{
    text-decoration: underline;
    font-size: 2.5em;
  }
  footer p{
    font-size: 1.5em;
  }
  .sub-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px;
  }
  .headshot {
    width: 200px;
    border-radius: 100px;
    margin: 15px;
  }
  .information p {
    font-size: 1.5em;
  }
  .information h2{
    font-size: 3em;
  }
  .information h2,
  .information p {
    text-align: center;
  }

  

  .sub-section-alternative{
    padding: 50px 0;
  }

  .sub-container{
    padding: 20px;
  }

  hr{
    color: rgb(199, 194, 194);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    }
  .project-container{
    flex-direction: column;
  }

  .project-card{
    width: 100%;
    margin-bottom: 1em;
    padding:0;
  }

  .project-image{
    width: 90%;
    height: 59%;
    padding: 1em 0;
  }

  .subtext{
    padding:16px 0;
	  margin:0 1em;
  }

  .footer-socials{
    display: flex;
    justify-content: space-around;
    margin-top: 8em;
  }
  .footer-socials .social{
    padding: 0;
    width: 0;
  }
  .social-div{
    padding: 0;
  }
}

/* for iPads and Tablets */
@media (min-width: 481px) and (max-width: 768px) {
  .sub-container{
    padding: 80px;
  }
  .information,.headshot-container{
    padding: 1em;
  }
  .information h2{
    font-size: 3em;
  }
  .information p{
    font-size: 1.5em;
  }
}

/* for small screen,laptops */
@media (min-width: 769px) and (max-width: 1024px) {
  .hero-area{
    margin-top: 5em;

  }
  .hero-text h1{
    font-size: 7em;
  }
  .hero-text p{
    font-size: 2.5em;
  }
}

/* for desktops , large screens */
@media (min-width: 1025px) and (max-width: 1200px) {
  .hero-area{
    

  }
  .hero-text h1{
    font-size: 7em;
  }
  .hero-text p{
    font-size: 2.5em;
  }
}

